{erl_opts, [debug_info]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_opts, [verbose]}.

{project_plugins, [{erlfmt, "1.3.0"}]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "{src,test}/*.{hrl,erl,app.src}"
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, [{flatbuferl_parser, return_error, 2}]}.

{edoc_opts, [
    {preprocess, true},
    {subpackages, false}
]}.
